#footer {
    height: 4%;
    width: 100%;
    position: absolute;
    background-color: DDDDDD;
    left: 0px;
    bottom: 0px;
    margin: 0;
    padding: 0;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.white {
    background-color: white;
}

#profile {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1%;
}

#profile-image {
    border-radius: 50%;
    background-color: white;
}

.max-height {
    vertical-align: middle;
}

.fa {
    color: #fff;
}

#request-btn {
    position: absolute;
    right: 0;
    bottom: 8%;
    width: 15%;
    height: 6%;
    background-color: orange;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}
